.Footer {
  width: 100%;
  background-color: #66d8f5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}